
<form #f="ngForm" (ngSubmit)="placeOrder(f.value)">
    <div class="form-group">
        <label for="name" class="required">Name</label>
        <input class="form-control " name="name" #name="ngModel"  ngModel placeholder="name" required/>
        <div class="alert alert-danger" *ngIf=" name.touched && name.invalid">
            <div *ngIf="name.errors.required">Name is required.</div>
          </div>
    </div>
    
    <div class="form-group">
        <label for="addressLine1" class="required">Address</label>
        <input class="form-control" name="addressLine1"  #addressLine1="ngModel" ngModel placeholder="line1" required/><br>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
            <div *ngIf="addressLine1.errors.required">Address is required</div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="addressLine2"></label>
        <input class="form-control" name="addressLine2"  #addressLine2="ngModel" ngModel placeholder="line2" required/>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
            <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
          </div>
    </div>
    
    <div class="form-group">
        <label for="city" class="required">City</label>
        <input #city="ngModel" ngModel name="city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>
    <div class="text-center">
        <button class="btn btn-sm" mat-raised-button style="margin:0 auto;color:white " type="submit" >Place Order</button>
    </div>
    </form>